#dashboard-page {
  position:   relative;
  text-align: center;

  img {
    height: 100%;
    width:  100%;
  }

  #dashboard-modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top:   0;
    left:  0;
    right: 0;
    bottom: 0;
  }

  #dashboard-modal {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    max-width: 800px;
  }
}

.dashboard-modal {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  max-width: 900px;
  transform: translateY(-50%);
  margin: auto;
  top: 30%;
}
