<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Personal Safety App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="dashboard-page">
    <div id="dashboard-modal-container">

      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <h2 style="color: black; font-weight: bolder">
                Relax we got your location and we are monitoring you
              </h2>
            </ion-col>
            <ion-col size="6">
              <div>
                <h3>
                  Click the button to refresh your location <br>
                  <ion-button expand="block" (click)="loadCurrentLocation()">Refresh my location</ion-button>
                </h3>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <google-map
                height="500px"
                width="100%"
                [zoom]="zoom"
                [center]="center"
                [options]="options">
          <map-marker
                  [position]="center"
                  [label]="marker.label"
                  [title]="marker.title"
                  [options]="marker.options">
          </map-marker>
        </google-map>
      </ion-card>

      <ion-card>
        <ion-card-content>

          <ion-row>
            <ion-col  size="12">
              <h2 style="color: black; font-weight: bolder">
                You are {{distanceInMiles}} miles away from the nearest safest location i.e Univeristy of Alabama in the city. <br>
                If you feel worried, click send email to notify your emergency contact. <br>
                If you feel safe, click logout to stop monitoring you
              </h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <div>
                <h3>
                  Click to notify your emergency contact <br>
                  <ion-button color="danger" expand="block" (click)="sendEmail()">Notify My Emergency Contact</ion-button>
                </h3>
              </div>
            </ion-col>

            <ion-col size="6">
              <div>
                <h3>
                  Click to logout <br>
                  <ion-button color="secondary" expand="block" (click)="logout()">Logout and Stop Monitoring</ion-button>
                </h3>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Reach Home Safe</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>






