<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Personal Safety App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="register-page">
    <div id="register-modal-container">
      <ion-card id="register-modal">
        <ion-card>
          <ion-card-content>
            <ion-icon style="height: 50px; width: 50px; float: left;"
                      [color]="'danger'"
                      [slot]="'start'"
                      [name]="'arrow-down-outline'"></ion-icon>

            <div style="text-align: left !important; color: black; font-weight: bolder">
              Never loose your way, Use this app to be safe and reach home safe!
            </div>
          </ion-card-content>
        </ion-card>

        <img src="assets/dgl.jpg" alt="Logo" style="height: 200px;"/>

        <ion-card-content>
          <ion-card>
            <ion-card-content>
              <ion-icon style="height: 50px; width: 50px; float: left;"
                        [color]="'danger'"
                        [slot]="'start'"
                        [name]="'arrow-down-outline'"></ion-icon>

              <div style="text-align: left !important; color: black; font-weight: bolder">
                Inorder to use this app, You need to Login or Register. Please click the button below to sign in or register
              </div>

              <ion-button expand="block" (click)="navigateToDashboard()">Login / Register</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

  <ion-footer >
    <ion-toolbar>
      <ion-title>Reach Home Safe</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>

